

body,div,span,header,footer,nav,section,aside,article,ul, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color:transparent;
    &:focus {
        outline: none;
    }
}


body{
    background-color: #ebebeb;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.left{
    float: left;
}

.right{
    float: right;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.ellips{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.component_container{
    margin-bottom: .5rem;
}

#alertTip{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    display: none;
}
#alertText{
    width: 14.0rem;
    position: absolute;
    left: 50%;
    top: 9.6rem;
    margin-left: -7rem;
    padding: 1.25rem 0.25rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    border-radius: 0.25rem;
    .alert_bottom{
        font-size: 0.65rem;
        line-height: 1.4rem;
        color: #b3b3b3;
    }
}
